registry=https://nexus.spk.no/content/groups/npm-combined/
//nexus.spk.no/content/groups/npm-combined/:_auth="c2EtbnBtOmRwWEJDaWxSMlVsTA=="
//nexus.spk.no/content/repositories/spk-npm/:_auth="c2EtbnBtOmRwWEJDaWxSMlVsTA=="
